# Archivos ejecutables
*.exe
*.out

# Archivos de configuración
*.env

# Archivos de logs
*.log

# Archivos de base de datos
*.db

# Directorios generados
/bin/
/vendor/

# Binarios de Go
*.test
*.prof
*.cover
/build/

#Carpeta de configuracion de vscode
.vscode/

#Directorios para ficheros de usuarios
data/

